.nav {
    max-width: 800px;
    width: 100%;
    margin: auto;
    &__list {
        font-size: 1.25rem;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    &__link {
        color: $info;
        &:hover{
            text-shadow: rgb(224, 224, 224) 1px 1px 0px;
        }
    }
}
.toggler{
    width: 35px;
    cursor: pointer;
    height: 35px;
    display: none;
    &--themes{
        display: block;
        position: absolute;
        left: $spacer * 3;
        top: $spacer *2;
    }
    &__icon{
        height: 3px;
        display: block;
        width: 100%;
        transition: .4s ;
        margin-bottom: 7px;
        background-color: $white;
    }
    &.js-toggler  &__icon:first-child{
        transform: rotate(-42deg) translate(-9px,6px);
    }
    &.js-toggler  &__icon:nth-child(2){
        opacity: 0;
    }
    &.js-toggler  &__icon:nth-child(3){
        transform: rotate(42deg) translate(-7px,-6px);
    }
}
@media screen and (max-width:767px){
    .nav{
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__list{
        flex-direction: column;
        align-items: center;
        transform: translateY(50%);
        }
        &__item{
            margin-bottom: $spacer * 3;
        }
    }
    .toggler{
        display: block;
        margin-top: $spacer;
        margin-right: $spacer * 1.5;
        &--themes{
            margin: 0;
        }
    }
}