<!DOCTYPE html>
<html lang="en">

<head>
 <%- include('head.ejs') %>
</head>

<body>
  <header class="header">
    這是 header10
  </header>
  <%- include('./assets/images/email.svg') %>
  <%- contents %>

  <footer class="footer">
    footer
  </footer>
  
  <%- include('footer.ejs') %>
</body>

</html>
