<!DOCTYPE html>
<html lang="en">

<head>
 <%- include('head.ejs') %>
</head>

<body>
  <header class="header">
    這是 header10
  </header>
  <%- include('./assets/images/email.svg') %>
  <%- contents %>

  <footer class="footer">
    footer
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
</body>

</html>
