$body-color:#000;
$title-color:#3E4559;
$text-color:#FAFAFA;
$hover-color: #FF7F00;
$transition:.5s linear;

$col-titleSize:2.5rem;
$col-secSize:1.5rem;
$base-size:1rem;
$base-lheight:2rem;
$base-space:15px